.nav-toggle {
	@include flex-center;
	width: 40px;
	height: 36px;
	border: none;
	background-color: $black;

	@include for-size(tablet-portrait) {
		width: 84px;
		height: 74px;
	}

	@include for-size(tablet-landscape) {
		display: none;
	}

	&:focus {
		outline: none;
	}

	&__bar {
		display: block;
		width: 16px;
		height: 2px;
		background-color: $white;
		margin: 2px 0;
		//transition: transform .4s;

		@include for-size(tablet-portrait) {
			width: 30px;
			height: 4px;
			margin: 4px 0;
		}
	}
}

.js-change {
	.bar1 {
		transform: rotate(-45deg) translate(-3px, 3px);

		@include for-size(tablet-portrait) {
			transform: rotate(-45deg) translate(-4px, 4px);
		}
	}

	.bar2 {
		opacity: 0;
	}

	.bar3 {
		transform: rotate(45deg) translate(-3px, -3px);

		@include for-size(tablet-portrait) {
			transform: rotate(45deg) translate(-8px, -7px);
		}
	}
}
