.banner {
	position: relative;
	margin-bottom: 5px;

	&__content {
		position: absolute;
		left: 20px;
		top: 15px;

		@include for-size(tablet-portrait) {
			left: 40px;
			top: 30px;
		}

		@include for-size(tablet-landscape) {
			left: 30px;
			top: 65px;
		}

		@include for-size(desktop) {
			left: 35px;
			top: 60px;
		}
	}

	&__title {
		margin-bottom: 3px;
		color: $white;
		font-size: 16px;
		font-weight: 700;
		line-height: 1.25;

		@media (orientation: landscape) {
			font-size: 20px;
		}

		@include for-size(tablet-portrait) {
			font-size: 36px;
		}

		@include for-size(tablet-landscape) {
			margin-bottom: 0;
			font-size: 54px;
		}

		@include for-size(desktop) {
			font-size: 62px;
		}
	}

	&__subtitle {
		margin-top: 8px;
		color: $lightBlue;
		font-size: 14px;
		font-weight: 700;

		@include for-size(tablet-portrait) {
			font-size: 24px;
		}

		@include for-size(tablet-landscape) {
			margin-top: 60px;
			font-size: 34px;
		}
	}

	&__img {
		display: block;
		width: 100%;
		height: auto;
	}
}