.footer {
	padding: 9px 10px;
	background-color: $green;
	color: $white;
	font-family: $Montserrat;
	font-size: 12px;
	text-align: center;
	line-height: 1.5;

	@media (orientation: landscape) {
		font-size: 16px;
	}

	@include for-size(tablet-portrait) {
		font-size: 18px;
		padding: 25px 20px
	}

	@include for-size(tablet-landscape) {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 18px;
		padding: 10px 30px
	}

	&__logo {
		flex-basis: 35%;
		text-align: left;
	}

	&__text-content {
		flex-basis: 66%;
		text-align: left;

		p {
			display: inline;
		}
	}
}