.header {
	background-color: $lightBlack;

	&__wrapper {
		display: grid;
		grid-template-columns: 1fr 40px;

		@include for-size(tablet-landscape) {
			grid-template-columns: 1fr auto;
			grid-column-gap: 10px;
			align-items: center;
			padding: 10px 30px;
		}
	}

	&__logo {
		@include for-size(tablet-landscape) {
			text-align: right;
		}
	}

	&__title {
		display: flex;
		align-items: center;
		padding-left: 20px;
		color: $white;
		font-family: $Montserrat;
		font-weight: 500;
		font-size: 12px;

		@include for-size(tablet-portrait) {
			padding-left: 40px;
			font-size: 24px;
		}

		@include for-size(tablet-landscape) {
			display: none;
		}
	}

	&__nav-wrap {
		position: relative;
		justify-self: end;

		@include for-size(tablet-landscape) {
			justify-self: stretch;
		}
	}

	&__nav {
		position: absolute;
		right: 0;
		top: 100%;
		width: 180px;
		z-index: 100;
		display: none;

		@media (orientation: landscape) {
			width: 220px;
		}

		@include for-size(tablet-portrait) {
			width: 245px;
		}

		@include for-size(tablet-landscape) {
			display: block;
			position: static;
			width: 100%;
			height: 100%;
			margin: 0 -15px;
		}
	}

	&__nav.is-open {
		display: block;
	}

	&__menu {
		@include for-size(tablet-landscape) {
			display: flex;
			align-items: center;
			height: 100%;
		}
	}

	&__menu-item {
		border: 1px solid #e9e9e9;

		@include for-size(tablet-landscape) {
			padding: 0;
			border: none;
		}

		a {
			display: block;
			padding: 13px 10px 4px;
			background-color: #fff;
			font-size: 12px;
			color: #444;
			white-space: nowrap;
			text-decoration: none;

			&:hover {
				background-color: #f5f5f5;
			}

			@media (orientation: landscape) {
				padding: 16px 13px 8px;
				font-size: 14px;
			}

			@include for-size(tablet-portrait) {
				font-size: 14px;
				padding: 20px 25px 15px;
			 }

			@include for-size(tablet-landscape) {
				padding: 10px 15px;
				color: $white;
				background-color: transparent;
				text-transform: uppercase;
			}

			@include for-size(desktop) {
				font-size: 15px;

				&:hover {
					background-color: transparent;
					color: $grey;
				}
			}
		}
	}
}
