.menu {
	margin-bottom: 48px;
	color: $darkBlack;

	@include for-size(tablet-portrait) {
		margin-bottom: 96px;
	}

	@include for-size(tablet-landscape) {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 80px;
	}

	@include for-size(desktop) {
		margin-bottom: 120px;
	}

	&__header {
		margin-bottom: 8px;
		padding: 0 7px;

		@include for-size(tablet-portrait) {
			margin-bottom: 15px;
			padding: 0 20px;
		}

		@include for-size(tablet-landscape) {
			flex-basis: 100%;

			display: grid;
			grid-template-columns: 1fr auto;
			grid-column-gap: 10px;
			align-items: center;
			padding: 0 30px;
		}
	}

	&__title {
		font-size: 19px;
		letter-spacing: .65px;
		line-height: 1.25;
		text-transform: uppercase;

		@media (orientation: landscape) {
			font-size: 24px;
		}

		@include for-size(tablet-portrait) {
			font-size: 38px;
		}

		@include for-size(tablet-landscape) {
			font-size: 34px;
		}

		@include for-size(desktop) {
			font-size: 40px;
		}
	}

	&__subtitle {
		font-size: 10px;
		line-height: 1.5;
		color: $grey;

		@media (orientation: landscape) {
			font-size: 14px;
		}

		@include for-size(tablet-portrait) {
			font-size: 20px;
		}
	}

	&__logo {
		display: none;

		@include for-size(tablet-landscape) {
			display: block;
		}

		@include for-size(desktop) {
			width: 120px;
		}
	}
}

.menu-section {
	margin-bottom: 30px;

	@include for-size(tablet-landscape) {
		flex-basis: 50%;
	}

	&:last-child {
		margin-bottom: 0;
	}

	&__title {
		margin-bottom: 12px;
		padding: 8px 18px;
		color: $green;
		font-size: 20px;
		text-transform: uppercase;

		@media (orientation: landscape) {
			font-size: 24px;
		}

		@include for-size(tablet-portrait) {
			margin-bottom: 1.2em;
			padding: 20px 36px;
			font-size: 38px;
		}

		@include for-size(tablet-landscape) {
			font-size: 34px;
		}

		@include for-size(desktop) {
			font-size: 40px;
		}

		&--dark {
			background-color: $darkBlack;
		}

		&--green {
			background-color: $green;
			color: $white;
		}
	}
}

.menu-subsection {
	margin-bottom: 16px;
	padding: 0 17px;

	@include for-size(tablet-portrait) {
		margin-bottom: 32px;
		padding: 0 36px;
	}

	@include for-size(tablet-landscape) {
		padding: 0 15px;
	}


	&:last-child {
		margin-bottom: 0;
	}

	&__title-wrap {
		display: grid;
		align-items: center;
		grid-template-columns: 1fr 28px;
		margin-bottom: 13px;

		@include for-size(tablet-portrait) {
			grid-template-columns: 1fr 57px;
			margin-bottom: 26px;
		}

		@include for-size(tablet-landscape) {
			margin-bottom: 40px;
		}
	}

	&__title {
		position: relative;
		font-size: 15px;
		text-transform: uppercase;

		@media (orientation: landscape) {
			font-size: 18px;
		}

		@include for-size(tablet-portrait) {
			font-size: 30px;
		}
	}

	&__img-wrap {
		display: flex;
		justify-content: center;
		align-items: center;

		@include for-size(tablet-landscape) {
			position: relative;
		}
	}

	&__img {
		@include for-size(tablet-landscape) {
			position: absolute;
		}

		&.snowflake {
			width: 25px;

			@include for-size(tablet-portrait) {
				width: 49px;
			}
		}

		&.glass {
			width: 13px;

			@include for-size(tablet-portrait) {
				width: 27px;
			}
		}

		&.cup {
			width: 28px;

			@include for-size(tablet-portrait) {
				width: 57px;
			}
		}

		&.pint {
			width: 21px;

			@include for-size(tablet-portrait) {
				width: 43px;
			}
		}
	}
}

.menu-list {
	&__item {
		margin-bottom: 4px;
		&:last-child {
			margin-bottom: 0;
		}

		@include for-size(tablet-portrait) {
			margin-bottom: 8px;
		}

		@include for-size(tablet-landscape) {
			margin-bottom: 10px;
		}
	}
}

.position {
	&__header {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 3px;
		padding-left: 6px;
		font-size: 14px;
		letter-spacing: -.25px;
		line-height: 1.5;

		@media (orientation: landscape) {
			font-size: 18px;
		}

		@include for-size(tablet-portrait) {
			margin-bottom: 5px;
			padding-left: 12px;
			font-size: 26px;
			letter-spacing: 0;
		}

		@include for-size(tablet-portrait) {
			margin-bottom: 10px;
			font-size: 24px;
		}

		@include for-size(desktop) {
			font-size: 27px;
		}

		&::before {
			content: '\00B7';
			position: absolute;
			left: 0;
			font-size: 14px;

			@media (orientation: landscape) {
				font-size: 16px;
			}

			@include for-size(tablet-portrait) {
				font-size: 28px;
			}
		}
	}

	&__price {
		font-weight: 700;
	}

	&__description {
		font-size: 9px;
		line-height: 1.25;
		letter-spacing: .17px;

		@media (orientation: landscape) {
			font-size: 12px;
		}

		@include for-size(tablet-portrait) {
			font-size: 16px;
			letter-spacing: 0;
		}

		@include for-size(desktop) {
			font-size: 17px;
		}
	}
}
