.offers {
	margin-bottom: 20px;

	@include for-size(tablet-portrait) {
		margin-bottom: 40px;
	}

	@include for-size(tablet-landscape) {
		margin-bottom: 60px;
	}

	&__list {
		@include for-size(tablet-landscape) {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
		}
	}
}

.offer {
	margin-bottom: 2px;
	&:last-child {
		margin-bottom: 0;
	}

	@include for-size(tablet-portrait) {
		margin-bottom: 3px;
	}

	&__row {
		display: grid;
		grid-template-columns: 1fr 70px;

		@media (orientation: landscape) {
			grid-template-columns: 1fr 100px;
		}

		@include for-size(tablet-portrait) {
			grid-template-columns: 1fr 140px;
		}

		@include for-size(tablet-landscape) {
			grid-template-columns: 1fr;
		}
	}

	&__col {
		&--left {
			position: relative;
		}

		&--right {
			@include flex-center;
			background-color: $green;

			@include for-size(tablet-landscape) {
				display: none;
			}

			.fas {
				font-size: 10px;
				color: $white;

				@media (orientation: landscape) {
					font-size: 18px;
				}

				@include for-size(tablet-portrait) {
					font-size: 22px;
				}
			}
		}
	}

	&__title {
		position: absolute;
		left: 50%;
		top: 50%;
		width: 100%;
		padding: 0 10px;
		text-align: center;
		transform: translate(-50%, -50%);
		color: $white;
		font-size: 20px;
		font-weight: 700;

		@include for-size(tablet-portrait) {
			font-size: 36px;
		}

		@include for-size(tablet-landscape) {
			font-size: 43px;
		}
	}

	&__img {
		//object-fit: cover;
		display: block;
		width: 100%;
		height: auto;
	}

	&__link {
		text-decoration: none;
	}
}
