html, body {
	height: 100%;
}

html {
	font-family: $Lato;
	font-weight: 400;
	color: $darkBlack;
}

body {
	display: flex;
	flex-direction: column;
}

.content {
	flex: 1 0 auto;
}

.footer {
	flex-shrink: 0;
}

.logo {
	display: none;

	@include for-size(tablet-landscape) {
		display: block;
	}
}

//@include sprites($spritesheet-sprites);