@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin for-size($range) {
	$tablet-portrait: 640px;
	$tablet-landscape: 980px;
	$desktop: 1200px;
	$desktop-large: 1800px;

	@if $range == tablet-portrait {
		@media (min-width: $tablet-portrait) { @content; }
	} @else if $range == tablet-landscape {
		@media (min-width: $tablet-landscape) { @content; }
	} @else if $range == desktop {
		@media (min-width: $desktop) { @content; }
	} @else if $range == desktop-large {
		@media (min-width: $desktop-large) { @content; }
	}
}