$fa-font-path:        "../fonts/webfonts";

// colors
$black: #1f2428;
$lightBlack: #373c3f;
$darkBlack: #3f4043;
$white: #fff;
$lightBlue: #a6d6e0;
$green: #acd8ad;
$grey: #cbccce;

// fonts
$Montserrat: Montserrat, Georgia, 'Times New Roman', serif;
$Lato: Lato, Georgia, 'Times New Roman', serif;