<section class="banner">
	<div class="banner__content">
		<h3 class="banner__title">
			All we need is Love.
		</h3>

		<h3 class="banner__title">
			And pizza. Pizza is good
		</h3>

		<h4 class="banner__subtitle">
			www.new-pizza.com
		</h4>
	</div>

<!--	<img src="./img/banner-1200-min.jpg" alt="banner" class="banner__img">-->

	<picture>
		<source media="(max-width: 639px)" srcset="img/banner-640.jpg">
		<source media="(max-width: 979px)" srcset="img/banner-980.jpg">
		<source media="(min-width: 980px)"  srcset="img/banner-1200.jpg">
		<img src="img/banner-1200.jpg" alt="offer image" class="banner__img">
	</picture>

</section>