<footer class="footer">
		<div class="footer__logo logo">
			<img src="./img/navigation-logo-1X.png" alt="logo" class="logo__img">
		</div>

	<div class="footer__text-content">
		<p class="footer__text">
			Best pizza from 2018 year.
		</p>
		<p class="footer__text">
			New UA/UX salads - not boring, only
		</p>
	</div>

</footer>

</body>
</html>