<section class="menu">

	<header class="menu__header">
		<div class="menu__title-wrap">
			<h2 class="menu__title">
				Neque ero ullamcorper sed
			</h2>

			<h5 class="h2 menu__subtitle">
				Ultrices cursus sit amet placerat tortor
			</h5>
		</div>

		<img src="./img/menu-logo-1X.png" alt="" class="menu__logo" width="108">
	</header>

	<section class="menu__section menu-section">

		<h2 class="menu-section__title menu-section__title--dark">
			Tincidunt at Mauris
		</h2>

		<div class="menu__subsection menu-subsection">
			<div class="menu-subsection__title-wrap">
				<h3 class="menu-subsection__title">
					Id hendrerit velit quis
				</h3>

				<div class="menu-subsection__img-wrap">
					<img src="./img/icon-snowflake.jpeg" alt="menu subsection image" class="menu-subsection__img snowflake">
			</div>
		</div>

		<ul class="menu__list menu-list">
			<li class="menu-list__item position">
				<article class="position__wrap">
					<header class="position__header">
						<h4 class="position__title">
							Lass aptent taciti
						</h4>

						<div class="position__price">
							$1200
						</div>
					</header>

					<p class="position__description">
						Praesent hendrerit massa ut libero bibendum pulvinar. Pellenteu copy 24 Praesent hendrerit massa ut libero bibendum pulvinar.</p>
				</article>
			</li>

			<li class="menu-list__item position">
				<article class="position__wrap">
					<header class="position__header">
						<h4 class="position__title">
							Nec fermentum nibh
						</h4>

						<div class="position__price">
							$1200
						</div>
					</header>

					<p class="position__description">
						Praesent hendrerit massa ut libero bibendum pulvinar. Pellenteu copy 24 Praesent hendrerit massa ut libero bibendum pulvinar.					</p>
				</article>
			</li>

			<li class="menu-list__item position">
				<article class="position__wrap">
					<header class="position__header">
						<h4 class="position__title">
							Eu dolor accumsan pharetra
						</h4>

						<div class="position__price">
							$1200
						</div>
					</header>

					<p class="position__description">
						Praesent hendrerit massa ut libero bibendum pulvinar. Pellenteu copy 24 Praesent hendrerit massa ut libero bibendum pulvinar.
					</p>
				</article>
			</li>

			<li class="menu-list__item position">
				<article class="position__wrap">
					<header class="position__header">
						<h4 class="position__title">
							Non duis dictum eros nec
						</h4>

						<div class="position__price">
							$1200
						</div>
					</header>

					<p class="position__description">
						Praesent hendrerit massa ut libero bibendum pulvinar. Pellenteu copy 24 Praesent hendrerit massa ut libero bibendum pulvinar.
					</p>
				</article>
			</li>
		</ul>
	</div>
		<div class="menu__subsection menu-subsection">
			<div class="menu-subsection__title-wrap">
				<h3 class="menu-subsection__title">
					id dolor Pellentesque
				</h3>

				<div class="menu-subsection__img-wrap">
					<img src="./img/icon-glass.jpeg" alt="menu subsection image" class="menu-subsection__img glass">
				</div>
			</div>

			<ul class="menu__list menu-list">
				<li class="menu-list__item position">
					<article class="position__wrap">
						<header class="position__header">
							<h4 class="position__title">
								Lass aptent taciti
							</h4>

							<div class="position__price">
								$1200
							</div>
						</header>

						<p class="position__description">
							Praesent hendrerit massa ut libero bibendum pulvinar. Pellenteu copy 24 Praesent hendrerit massa ut libero bibendum pulvinar.						</p>
					</article>
				</li>

				<li class="menu-list__item position">
					<article class="position__wrap">
						<header class="position__header">
							<h4 class="position__title">
								Nec fermentum nibh
							</h4>

							<div class="position__price">
								$1200
							</div>
						</header>

						<p class="position__description">
							Praesent hendrerit massa ut libero bibendum pulvinar. Pellenteu copy 24 Praesent hendrerit massa ut libero bibendum pulvinar.						</p>
					</article>
				</li>
			</ul>
		</div>
	</section>
	<section class="menu__section menu-section">

		<h2 class="menu-section__title menu-section__title--green">
			Vestibulum augue et
		</h2>

		<div class="menu__subsection menu-subsection">
			<div class="menu-subsection__title-wrap">
				<h3 class="menu-subsection__title">
					Id hendrerit velit quis
				</h3>

				<div class="menu-subsection__img-wrap">
					<img src="./img/icon-cup.jpeg" alt="menu subsection image" class="menu-subsection__img cup">
				</div>
			</div>

			<ul class="menu__list menu-list">
				<li class="menu-list__item position">
					<article class="position__wrap">
						<header class="position__header">
							<h4 class="position__title">
								Lass aptent taciti
							</h4>

							<div class="position__price">
								$1200
							</div>
						</header>

						<p class="position__description">
							Praesent hendrerit massa ut libero bibendum pulvinar. Pellenteu copy 24 Praesent hendrerit massa ut libero bibendum pulvinar.						</p>
					</article>
				</li>

				<li class="menu-list__item position">
					<article class="position__wrap">
						<header class="position__header">
							<h4 class="position__title">
								Nec fermentum nibh
							</h4>

							<div class="position__price">
								$1200
							</div>
						</header>

						<p class="position__description">
							Praesent hendrerit massa ut libero bibendum pulvinar. Pellenteu copy 24 Praesent hendrerit massa ut libero bibendum pulvinar.						</p>
					</article>
				</li>

				<li class="menu-list__item position">
					<article class="position__wrap">
						<header class="position__header">
							<h4 class="position__title">
								Lass aptent taciti
							</h4>

							<div class="position__price">
								$1200
							</div>
						</header>

						<p class="position__description">
							Praesent hendrerit massa ut libero bibendum pulvinar. Pellenteu copy 24 Praesent hendrerit massa ut libero bibendum pulvinar.						</p>
					</article>
				</li>

				<li class="menu-list__item position">
					<article class="position__wrap">
						<header class="position__header">
							<h4 class="position__title">
								Eu dolor accumsan pharetra
							</h4>

							<div class="position__price">
								$1200
							</div>
						</header>

						<p class="position__description">
							Praesent hendrerit massa ut libero bibendum pulvinar. Pellenteu copy 24 Praesent hendrerit massa ut libero bibendum pulvinar.						</p>
					</article>
				</li>
			</ul>
		</div>
		<div class="menu__subsection menu-subsection">
			<div class="menu-subsection__title-wrap">
				<h3 class="menu-subsection__title">
					Id hendrerit velit quis
				</h3>

				<div class="menu-subsection__img-wrap">
					<img src="./img/icon-pint.jpeg" alt="menu subsection image" class="menu-subsection__img pint">
				</div>
			</div>

			<ul class="menu__list menu-list">
				<li class="menu-list__item position">
					<article class="position__wrap">
						<header class="position__header">
							<h4 class="position__title">
								Lass aptent taciti
							</h4>

							<div class="position__price">
								$1200
							</div>
						</header>

						<p class="position__description">
							Praesent hendrerit massa ut libero bibendum pulvinar. Pellenteu copy 24 Praesent hendrerit massa ut libero bibendum pulvinar.						</p>
					</article>
				</li>

				<li class="menu-list__item position">
					<article class="position__wrap">
						<header class="position__header">
							<h4 class="position__title">
								Nec fermentum nibh
							</h4>

							<div class="position__price">
								$1200
							</div>
						</header>

						<p class="position__description">
							Praesent hendrerit massa ut libero bibendum pulvinar. Pellenteu copy 24 Praesent hendrerit massa ut libero bibendum pulvinar.						</p>
					</article>
				</li>
			</ul>
		</div>
	</section>
</section>