<div class="offers">
	<ul class="offers__list">
		<li class="offers__item offer"href="#">
			<a href="#" class="offer__link">
				<span class="offer__row">
					<span class="offer__col offer__col--left">
						<h2 class="offer__title">Pizza Delivery</h2>
						<picture>
							<source media="(max-width: 979px)" srcset="img/delivery-640.jpg">
							<source media="(min-width: 980px)"  srcset="img/delivery-1200.jpg">
							<img src="img/delivery-1200.jpg" alt="offer image" class="offer__img">
						</picture>
					</span>

					<span class="offer__col offer__col--right">
							<i class="fas fa-chevron-right"></i>
					</span>
					</span>
			</a>
		</li>

		<li class="offers__item offer"href="#">
			<a href="#" class="offer__link">
				<span class="offer__row">
					<span class="offer__col offer__col--left">
						<h2 class="offer__title">UA/UX Salads</h2>
						<picture>
							<source media="(max-width: 979px)" srcset="img/salads-640.jpg">
							<source media="(min-width: 980px)"  srcset="img/salads-1200.jpg">
							<img src="img/salads-1200.jpg" alt="offer image" class="offer__img">
						</picture>
					</span>

					<span class="offer__col offer__col--right">
							<i class="fas fa-chevron-right"></i>
					</span>
					</span>
			</a>
		</li>

		<li class="offers__item offer"href="#">
			<a href="#" class="offer__link">
				<span class="offer__row">
					<span class="offer__col offer__col--left">
						<h2 class="offer__title">Desserts</h2>
						<picture>
							<source media="(max-width: 979px)" srcset="img/deserts-640.jpg">
							<source media="(min-width: 980px)"  srcset="img/deserts-1200.jpg">
							<img src="img/deserts-1200.jpg" alt="offer image" class="offer__img">
						</picture>					</span>

					<span class="offer__col offer__col--right">
							<i class="fas fa-chevron-right"></i>
					</span>
					</span>
			</a>
		</li>
	</ul>
</div>